* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Roboto;
}

ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 10px;
    padding: 10px 40px;
    align-self: flex-start;
}

.first-section,
.second-section,
.third-section,
.fourth-section,
.footer {
    padding-left: 10%;
    padding-right: 10%;
}

.first-section {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    padding-bottom: 120px;
    gap: 35px;
}

.left-hero {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero-main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.hero-secondary-text {
    color: #E5E7EB;
    font-size: 18px;
}

.right-hero {
    width: 55%;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: white;
    font-size: 18px;
    height: 100%;
}

.hero-button {
    border: 0;
}